.outer{
    display: flex;
}

.card{
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.title .input-group {
    width: auto;
    flex: 0 0 auto;
    font-size: 16px;
}

.search-bar{
    display: flex;
    flex-direction: row;
}

.pagination{
    display: flex;
    justify-content: center;
}

.page-item{
    cursor: pointer;
}

.modal-input{
    margin: 20px;
    width: 90%;
}

.alert-danger{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 100px;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.chosen{
    color: white;
    background-color: #0d6efd;
}

button {
    white-space: nowrap;
}


